/* Additional css for video list */

.top0 {
    margin-top: 0px;
}

.top10 {
    margin-top: 10px;
}

.top50 {
    margin-top: 50px;
}

.left25 {
    margin-left: 25px;
}

.right25 {
    margin-right: 25px;
}

.dsp-ib{
    display: inline-block;
}

.video-card-styles {
    border: 1px #ccc solid;
    background-color: #eee;
    padding: 0px;
}

.height-small {
    height: 325px;
}

.selected-video {
    border: 5px solid green;
}

.video-details-list {
    height: 950px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* styles for '...' */
.ellipsis {
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 3.6em;
  text-align: justify;
  padding-right: 1em;
}
/* create the ... */
.ellipsis:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.ellipsis:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: #eee;
}
